{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if create %}Crear{% else %}Editar{% endif %} Lote
{% endblock %}

{% block heading %}
  <h2>
    {% if create %}
      Crear Lote
    {% else %}
      Editar Lote
    {% endif %}
  </h2>
{% endblock %}

{% block content %}
  {% if create %}
    {% url "stock_lotes_create" as action_url %}
  {% else %}
    {% url "stock_lotes_edit" pk=form.instance.pk as action_url %}
  {% endif %}
  <form action="{{ action_url }}" method="post" accept-charset="utf-8">
    {{ form|crispy }}
    {% csrf_token %}
    <p><input type="submit" class="btn btn-default" value="Guardar"></p>
  </form>
{% endblock %}